<nav class="navbar navbar-light bg-faded">
  <div class="navbar-brand">
    Handsaw-Demo
  </div>
</nav>
<div id="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <editor editor-id="write-editor" content="" style="height: 600px" v-on:change-content="getChildText"></editor>
      </div>
      <div class="col-md-6">
        <pre>{{result}}</pre>
        <!-- div v-html="result" -->
      </div>
    </div>
  </div>
</div>
